body{
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /* margin-left: 5%;
  margin-right: 5%; */
  background: url(image/background.jpg);
  
  
}


nav{
    /* margin-left: 5%;
  margin-right: 5%; */
    display: flex;
    z-index: 1000;
    justify-content: space-around;
    top: 0%;
    position: sticky;
    height: 90px;
    background: url(image/background.jpg);
    
    

}
nav h2{
    margin-right: 180px;
    font-size: 35px;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-weight: 100;
    
}
nav h2 a{
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;


}
nav ul li{
    list-style: none;
    padding: 30px;
    display: flex;

}
nav ul li a{
    text-decoration: none;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}
nav ul li a button{
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 90px;
    font-size: 15px;
    letter-spacing: 1px;
    
}
.first{
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 100;
    text-align: left;
    margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
    /* z-index: 999; */
}
.f1{
    margin-right: 75px;

}

.f1 h2{
    font-size: 35px;
    font-weight: 100;
}
.f1 button{
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 150px;
    font-size: 15px;
    letter-spacing: 1px;
}
.f2 img{
    border-radius: 10px;
}
.second{
    margin-top: 5%;
    /* z-index: 998; */
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
  margin-right: 5%;
}
#s1, #s2, #s3{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 80px;
    background: gray;
    border-radius: 5px;
    color: white;
}
.third{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
  margin-right: 5%;
}
#t1{
    border-radius: 10px;
}
#t2{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    margin-bottom: 5%;
    
}
.t2-content{
    background: grey;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
.fourth{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.fourth h2{
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 100;
}

.fifth{
    display: flex;
    justify-content: space-around;
}
.fifth img{
    width: 300px;
    height:500px;
}
.fifth-button{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.fifth-button button{
    padding: 15px;
    border-radius: 10px;
}
.sixth{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

}
.sixth h2{
    justify-content: center;
    text-align: left;
    font-size: 35px;
    font-weight: 100;
    color: white;
}
.sixth p{
    color: white;
}
.seventh{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    color:white;
    
}
.seventh-one, .seventh-two{
    justify-content: center;
}
.eight{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    
}
.eight h2{
    font-weight: 100;
}
.eight button, .ninth button{
    padding: 15px;
    border-radius: 10px;
}
.ninth{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
.ninth h2{
    font-weight: 100;
}
footer{
    margin-top: 5%;
    display: flex;
    background-color: white;
    color:black;
    gap: 150px;
    height:160px;
}
.footer-1, .footer-2{
    list-style:none;
    margin-top:2%;
    margin-left: 5%;
    
}
.footer-2{
    font-size: 25px;
}
.footer-2 a{
    text-decoration: none;
    color: black;
}

